.contain {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 5px;
  &__btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    cursor: pointer;

    &__loading {
      &:disabled {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: #cccccc; // Light gray
        color: #aaaaaa; // Gray
        cursor: not-allowed;
      }

      &:disabled::after {
        content: "";
        display: block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        border: 2px solid #ddd;
        border-top-color: #3498db; // Animation color
        animation: spin 1s linear infinite;
      }
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
