.product {
  width: 100%;
  padding: 0 5%;
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
  &__content {
    display: flex;
    margin: 5px;
    justify-content: center;
    flex-wrap: wrap;

    &__skelaton {
      width: 25%;
      padding: 10px;
      animation: loading 2s infinite;
      &__image {
        width: 100%;
        aspect-ratio: 1/1;
        background-color: grey;
      }
      &__name {
        width: 100%;
        height: 20px;
        margin-top: 5px;
        background-color: grey;
      }
      &__category {
        width: 100%;
        height: 20px;
        margin-top: 5px;
        background-color: grey;
      }
      &__price {
        width: 100%;
        height: 20px;
        margin-top: 5px;
        background-color: grey;
      }
    }

    &__items {
      width: 25%;
      padding: 10px;
      justify-content: center;
      &__name {
        font-size: 24px;
        font-weight: bold;
      }
      &__category {
        color: gray;
      }
      &__price {
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
