.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}
.navbar ul li {
  cursor: pointer;
}
